@import '../../scss/variables.scss';

.section-pizza {
  padding: 0 60px;
  padding-top: 40px;
  margin: 0 auto;
  // width: 1390px;
  width: 80%;
  background-color: white;
}

.section-pizza__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
