@import '../../scss/variables.scss';

.section-pizza {
  padding: 0 60px;
  padding-top: 40px;
  margin: 0 auto;
  // width: 1390px;
  width: 80%;
  background-color: white;
}

.section-pizza__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.section-pizza__nav-list {
  // width: 850px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.section-pizza__nav-item {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: $gray;
  border-radius: 30px;
  color: $black;

  &:last-child {
    margin-right: 0;
  }
}

.section-pizza__nav-item--active {
  background-color: $black;
  color: white;
}

.section-pizza__nav-link {
  display: block;
  padding: 10px 30px;

  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.section-pizza__sorting {
  position: relative;
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section-pizza__sorting-caption {
  margin-right: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $black;
}

.section-pizza__sorting-type {
  color: $orange;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px dotted $orange;

  cursor: pointer;
}

.section-pizza__options {
  display: none;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.section-pizza__options.section-pizza__options--opened {
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 9999;
}

.section-pizza__option.section-pizza__option--active .section-pizza__link,
.section-pizza__option .section-pizza__link:hover,
.section-pizza__option .section-pizza__link:focus {
  color: $orange;
  background-color: rgba(254, 95, 30, 0.05);
  font-weight: 700;
}

.section-pizza__link {
  display: block;
  padding: 15px;
  width: 100%;
  color: inherit;
}
