@import '../../scss/variables.scss';

.sorting {
  position: relative;
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sorting__caption {
  margin-right: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $black;
}

.sorting__type {
  color: $orange;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px dotted $orange;

  cursor: pointer;
}

.sorting__options {
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  background-color: white;
  border-radius: 10px;
  z-index: 3;
}

.sorting__option.sorting__option--active .sorting__link,
.sorting__option .sorting__link:hover,
.sorting__option .sorting__link:focus {
  color: $orange;
  background-color: rgba(254, 95, 30, 0.05);
  font-weight: 700;
}

.sorting__link {
  display: block;
  padding: 15px;
  width: 100%;
  color: inherit;
}
