@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Black.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/ProximaNova-Black.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Extrabold.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/ProximaNova-Extrabold.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Semibold.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/ProximaNova-Bold.woff') format('woff');
}
