$primary-font: 'ProximaNova', 'Arial', sans-serif;
$secondary-font: 'Arial', sans-serif;

$black: #282828;

$gray-lighten: #e5e5e5;
$gray: #f9f9f9;
$gray-darken: #f3f3f3;
$gray-darkness: #7b7b7b;

$gray-border-light: #d3d3d3;
$gray-border: #f6f6f6;
$gray-border-darken: #f4f4f4;
$gray-border-darkness: #d7d7d7;
$gray-text: #777777;
$gray-text-lighten: #b6b6b6;
$gray-text-lightness: #cacaca;

$orange: #fe5f1e;
$yellow: #ffdf8c;
