$primary-font: 'ProximaNova', 'Arial', sans-serif;
$secondary-font: 'Arial', sans-serif;

$black: #282828;

$gray-lighten: #e5e5e5;
$gray: #f9f9f9;
$gray-darken: #f3f3f3;
$gray-darkness: #7b7b7b;

$orange: #fe5f1e;
$yellow: #ffdf8c;
